
@model BroodLairModel
<style>
    .troop-cell {
        width: 175px;
        height: 175px;
        border: 1px solid red;
        float: left;
        margin: 6px;
    }
</style>


<div id="building_id" style="display:none">@Model.Building.Id</div>

<h2>BroodLair</h2>
@foreach (var type in (TroopType[])Enum.GetValues(typeof(TroopType)))
{
    <div class="troop-cell">
       
        @{
            var troopCount = Model.Troops.GetTroop(type);

            @(type.ToName() + "    " + @troopCount)

            <br />
            <br />


            <div class="resource-info">
                @{
                    var cost = TroopHelper.GetBuildCost(type, 1);
                    foreach (var resourceType in (ResourceType[])Enum.GetValues(typeof(ResourceType)))
                    {
                        var resourceCost = cost.GetResource(resourceType);
                        if(resourceCost == 0)
                        {
                            continue;
                        }

                        <div style="float:left;">
                            @resourceType.ToString()
                        </div>
                        <div style="float:left;">
                            @resourceCost
                        </div>
                        <div style="clear:both;"></div>
                    }

                }
            </div>
            if (Model.Building.HasTimer())
            {
                if (Model.Building.Timer.Type == TimerType.CreateTroop)
                {
                    var troopInBuildType = Model.Building.Timer.AdditionalDataCreateTroop();
                    if (troopInBuildType == type)
                    {
                        <span class="countdown" time="@Math.Round( Model.Building.Timer.TimeTillEnd().TotalSeconds, 0 )"></span>
                    }

                }
            }
            <br />
            <button onclick="createTroop('@type')" type="button">Breed</button>
        }
    </div>
    
}

@section ContextMenu{
<div class="partial-context-menu">
    <div class="build-menu">
        <div style="font-weight:bold;">BUILD</div>
        
            

        @foreach (var type in (TroopType[])Enum.GetValues(typeof(TroopType)))
        {
            <a onclick="createTroop('@type')">@type.ToName()</a><br />
        }
    </div>
</div>
}



<script>
    function activateCell(sender) {
        var wasActive = $(sender).hasClass("active");
        $(".cell").removeClass("active");

        if (!wasActive) {
            //activate contextmenu

            var context = $(sender).attr("context");

            changeContextMenu(context);

            var buildingId = $(sender).attr("building_id");

            $("#selected_building").html(buildingId);
         

            $(sender).addClass("active");
        }
        else {
            //deactivate contenxtMenus
        }
    }

    function createTroop(type) {
        var buildingId = $('#building_id').html();

        $.get("/troop/create/" + buildingId + "/?type=" + type, function (xhr) {
            if (xhr != "") {
                toastr.options = {
                    tapToDismiss: true,
                    positionClass: "toast-top-center"
                };
                toastr.warning(xhr);
            }
            else {
                location.reload();
            }
        });
    }
</script>